.popup-more {
  border-radius: 15px;
  display: none;

  &__list {
    @include flex-all-sb;
    flex-wrap: wrap;
  }
  &__btn {
    cursor: pointer;
    @include flex-all-sb;
    padding: 5px;
    width: 80px;
    margin: 0 auto;

    &:hover {
      color: $green-color;
    }
  }
}
